* {
    font-family: "Roboto", sans-serif;
    color: #333
}

header {
    text-align: center
}

#brand {
    display: block;
    margin: 0.5rem auto
}

#brand img {
    max-height: 130px;
    max-width: 36rem
}

.nav-links {
    margin: 0 auto 2rem auto;
    border-top: 0.1rem solid #333;
    border-bottom: 0.1rem solid #333
}

.nav-link {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.8em;
    display: block;
    margin: 0;
    color: #333;
    background-color: white;
    transition: color 0.2s ease, background-color 0.2s ease
}

.nav-link:active, .nav-link.active {
    color: white;
    background-color: #323232
}

footer {
    width: 100%;
    text-align: center;
    border-top: 0.2rem solid #333;
    border-bottom: 0.2rem solid #333;
    padding: 0.5rem 0;
    margin-top: 2rem
}

.products {
    text-align: center
}

.products .row {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.caption {
    font-size: 2.5rem;
    font-family: "Merriweather", serif
}

.gift-icon {
    width: 5rem;
    height: 5rem;
    background: white;
    padding: 1rem;
    position: absolute;
    border-radius: 5px;
    right: 10%;
    top: 28rem;
    background: white;
    transition: background 0.3s ease
}

.gift-icon.active {
    background: #333
}

.icon-to-left {
    left: 10%
}

.prod-link {
    position: relative
}

.product-image {
    height: 33rem;
    max-width: 350px
}

.nav-image {
    height: 33rem
}

.outfit-img {
    display: inline-block;
    position: relative;
    height: 33rem;
    width: 33rem;
    max-width: 500px;
    margin: 2rem auto;
}

.outfit-img img {
    position: absolute
}

.outfit-img .shirt {
    top: 1rem;
    left: 0;
    height: 50%;
    z-index: 1
}

.outfit-img .bottom {
    bottom: 2rem;
    left: 10%;
    height: 55%;
}

.outfit-img .shoe {
    bottom: 2rem;
    right: 15%;
    height: 27%
}

.outfit-img .jacket {
    right: 2rem;
    top: 0;
    height: 55%
}

a {
    color: #333
}

.outfit-show {
    position: relative;
    text-align: center
}

.outfit-show .outfit-img {
    height: 49.5rem;
    width: 60%
}

.outfit-show .gift-icon {
    top: auto;
    bottom: 0
}

.outfit-show .gift-icon:hover {
    cursor: pointer
}

h3 {
    margin: 3rem auto
}

.hidden {
    display: none
}
