:root {
    --dark-gray: #333;
}

.baskerville {
    font-family: "Libre Baskerville", serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.a-dark-gray {
    transition: background-color 500ms;
}

.a-dark-gray:active {
    background-color: var(--dark-gray);
}

.left-4 {
    left: 4rem;
}

.vh-third {
    height: calc(100vh / 3);
}

.h4_5 {
    height: 12rem;
}

@media screen and (min-width: 100em) {
    .vh-third-vl {
        height: calc(100vh / 3);
    }
}

@media screen and (min-width: 30em) {
    .h5_5-ns {
        height: 24rem;
    }
}
.putUp{
    z-index: 1;
}
.obj-contain {
    object-fit: contain;
}

.realtive {
    position: relative;
}

.pa2 {
    padding: .5rem

}

.w-50 {
    width: 50%;
}

.link {
    text-decoration: none
}

.item-center {
    align-items: center
}

.flex-column {
    flex-direction: column;
}

.flex {
    display: flex
}
